th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
}

.container {
    display: inline-block;
}

.container .button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.buttonCell {
    border: 0px;
    padding: 0;
}

#addEventButton {
    margin-top: 20px;
}