<div  (click)="cellIndex=0; rowIndex=0">
    <h1>Edit Sport Events</h1>
    <div>{{showMessage}}</div>
    <div class="container">
        <div class="button">
            <button id="reviewEventsButton" type="button" [routerLink]="['/events']">Review Events</button>
        </div>
        <table>
            <tr>
                <th>EventId</th>
                <th>EventName</th>
                <th>OddsForFirstTeam</th>
                <th>OddsForDraw</th>
                <th>OddsForSecondTeam</th>
                <th>EventStartDate</th>
            </tr>
            <tr *ngFor="let event of events; let i = index">
                <td>{{ event.eventId }}</td>
                <td #nameCell (click)="toggle(nameCell, i); $event.stopPropagation();">
                    <div *ngIf="isCellEdit(i, nameCell)">
                        <input type="text" [(ngModel)]="event.name" id="inputName" required>
                    </div>
                    <div *ngIf="!isCellEdit(i, nameCell)">
                        {{event.name}}
                    </div>
                </td>
                <td #homeTeamOddsCell (click)="toggle(homeTeamOddsCell, i); $event.stopPropagation();">
                    <div *ngIf="isCellEdit(i, homeTeamOddsCell)">
                        <input type="text" [(ngModel)]="event.homeTeamOdds" id="inputHomeTeamOdds" required>
                    </div>
                    <div *ngIf="!isCellEdit(i, homeTeamOddsCell)">
                        {{event.homeTeamOdds}}
                    </div>
                </td>
                <td #drawOddsCell (click)="toggle(drawOddsCell, i); $event.stopPropagation();">
                    <div *ngIf="isCellEdit(i, drawOddsCell)">
                        <input type="text" [(ngModel)]="event.drawOdds" id="inputDrawOdds" required>
                    </div>
                    <div *ngIf="!isCellEdit(i, drawOddsCell)">
                        {{event.drawOdds}}
                    </div>
                </td>
                <td #awayTeamOddsCell (click)="toggle(awayTeamOddsCell, i); $event.stopPropagation();">
                    <div *ngIf="isCellEdit(i, awayTeamOddsCell)">
                        <input type="text" [(ngModel)]="event.awayTeamOdds" id="inputAwayTeamOdds" required>
                    </div>
                    <div *ngIf="!isCellEdit(i, awayTeamOddsCell)">
                        {{event.awayTeamOdds}}
                    </div>
                </td>
                <td #startDateCell (click)="toggle(startDateCell, i); $event.stopPropagation();">
                    <div *ngIf="isCellEdit(i, startDateCell)">
                        <input type="datetime-local" [(ngModel)]="event.startDate" id="inputStartDate" required>
                    </div>
                    <div *ngIf="!isCellEdit(i, startDateCell)">
                        {{event.startDate | date:'dd/MM/yyyy HH:mm'}}
                    </div>
                </td>
                <td class="buttonCell"><button id="saveButton" (click)="saveEvent(event)">Save</button></td>
                <td class="buttonCell"><button id="deleteButton" (click)="deleteEvent(event.id)">Delete</button></td>
            </tr>
        </table>
        <button id="addEventButton" type="button" (click)="addEvent()">Add event</button>
    </div>
</div>