th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
}

.rowColor {
    background-color: honeydew;
}

.altRowColor {
    background-color: aliceblue
}

.container {
    display: inline-block;
}

.container .button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.container .message {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 20px;
}