th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
}

.rowColor {
    background-color: honeydew;
}

.altRowColor {
    background-color: aliceblue
}
.container {
    display: flex;
}