
<h1>Sport Events</h1>
<div>{{showMessage}}</div>
<div class="container">
    <div class="button">
        <button id="editEventsButton" type="button" [routerLink]="['/edit-events']">Edit events</button>
    </div>
    <table>
        <tr>
            <th>EventName</th>
            <th>OddsForFirstTeam</th>
            <th>OddsForDraw</th>
            <th>OddsForSecondTeam</th>
            <th>EventStartDate</th>
        </tr>
        <tr *ngFor="let event of events; let i = index" [ngClass]="{'rowColor': i % 2 != 0, 'altRowColor': i % 2 == 0}">
            <td>{{ event.name }}</td>
            <td>{{ event.homeTeamOdds }}</td>
            <td>{{ event.drawOdds }}</td>
            <td>{{ event.awayTeamOdds }}</td>
            <td>{{ event.startDate | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </table>
</div>